<html>
    <head>
        <style type="text/css">
            .hidden {
                height: 100%;
                min-height: 100%;
                overflow: hidden !important;
                touch-action: none;
            }
        </style>
        <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
        <script src="https://unpkg.com/aframe-particle-system-component@1.0.x/dist/aframe-particle-system-component.min.js">
        </script>
        <script src="https://unpkg.com/aframe-extras.ocean@%5E3.5.x/dist/aframe-extras.ocean.min.js"></script>
        <script src="https://unpkg.com/aframe-gradient-sky@1.0.4/dist/gradientsky.min.js"></script>
        <script src="https://cdn.socket.io/4.1.2/socket.io.min.js" integrity="sha384-toS6mmwu70G0fw54EGlWWeA4z3dyJ+dlXBtSURSKN4vyRFOcxd3Bzjj/AoOwY+Rg" crossorigin="anonymous"></script>
        <script src="/js/joystic.js"></script>
        <script>
            // Component to change to a sequential color on click.
            /*AFRAME.registerComponent('cursor-listener', {
                init: function () {
                    this.el.addEventListener('click', function (evt) {
                        console.log(evt.detail.intersection.point);
                        this.setAttribute('visible', false);
                    });
                }
            });*/
        </script>
    </head>

    <body class="hidden">
        <div style="width:100%; height:60%;">
            <a-scene embedded>
                <!--<a-entity id="rain" particle-system="preset: rain; color: #24CAFF; particleCount: 5000"></a-entity>-->
                <a-box cursor-listener position="-1 2.5 -4" rotation="0 45 0" color="#4CC3D9" dynamic-body></a-box>
                <a-assets>
                  <a-asset-item id="woman" src="https://cdn.glitch.com/ab997f9d-4318-48ff-8411-dd95e9efbcf2%2Fwooman.glb?v=1625667322099"></a-asset-item>
                </a-assets>
                <a-entity id="character" gltf-model="#woman" position="-1 0 -1" rotation="0 170 0" scale="5 5 5"></a-entity>
                <a-plane cursor-listener position="0 0 -4" rotation="-90 0 0" width="1000" height="1000" color="#7BC8A4"
                    static-body></a-plane>
                <a-camera id="camera" position="-1 1 0">
                    <a-entity cursor="fuse: true; fuseTimeout: 500" position="0 0 -1"
                        geometry="primitive: ring; radiusInner: 0.005; radiusOuter: 0.01"
                        material="color: black; shader: flat">
                    </a-entity>
                </a-camera>
                <a-entity id="sky" geometry="primitive: sphere; radius: 5000" scale="-1 1 1"></a-entity>
            </a-scene>
        </div>
        <div style="width:100%; height:40%;display: flex;">
            <div id="joyDiv" style="width:150px;height:150px;margin:auto 20;"></div>
        </div>
    </body>
    <script>
      let scene = document.getElementById("a-scene");
      // Create JoyStick object into the DIV 'joyDiv'
      let joy = new JoyStick('joyDiv');
      let camera = document.getElementById("camera");
      let character = document.getElementById("character");
      
      let direction;
              
      function User(id){
        this.id = id;
        this.x = -1;
        this.y = 0;
        this.x = -1;
      }
      
      let users = [];
      let userMap = {};
      let myId;
      
      function join(id,x,y,z) {
        let user = new User(id);
        user.x = x;
        user.y = y;
        user.z = z;
        
        users.push(user);
        userMap[id] = user;
        
        return user;
      }
      
      function leave(id){
        for(let i = 0; i < users.length; i++){
          if(users[i].id == id){
            users.splice(i,1);
            break;
          }
        }
        delete userMap[id];
      }
      
      function updateState(id,x,y,z){
        let user = userMap[id];
        if(!user){
          return;
        }
        user.x = x;
        user.y = y;
        user.z = z;
      }
      
      let socket = io.connect('https://xrproject.glitch.me:3000');
      
      socket.on('user_id', function(data){
        myId = data;
        console.log(myId);
      });
      
      socket.on('join_user', function(data){
        join(data.id, data.x, data.y, data.z);
      });
      
      socket.on('leave_user', function(data){
        leave(data);
      });
      
      socket.on('update_state', function(data){
        updateState(data.id, data.x, data.y, data.z);
      });
              
      function sendData() {
        let curUser = userMap[myId];
        if(!curUser){
          return;
        }
        let data = {};
        data = {
          id : curUser.id,
          x : curUser.x,
          y : curUser.y,
          z : curUser.z
        };
        
        if(data){
          socket.emit('send_location', data);
        };
      };
      
      function render() {
        for (let i = 0; i < users.length; i++) {
          let user = users[i];
          console.log('user.id = ',user.id,' user.x = ', user.x,' user.y = ',user.y,' user.z = ',user.z);
        }
        
        let curUser = userMap[myId];
        if(!curUser)
          return;
        if (direction == "N") { //상
          curUser.z -= 0.1;
        } else if (direction == "NE") { //우상
          curUser.z -= 0.05;
          curUser.x += 0.05;
        } else if (direction == "NW") { //좌상
          curUser.z -= 0.05;
          curUser.x -= 0.05;
        } else if (direction == "S") { //후
          curUser.z += 0.1;
        } else if (direction == "SE") { //우후
          curUser.x += 0.05;
          curUser.z += 0.05;
        } else if (direction == "SW") { //좌후
          curUser.x -= 0.05;
          curUser.z += 0.05;
        } else if (direction == "W") { //좌
          curUser.x -= 0.1;
        } else if (direction == "E") { //우
          curUser.x += 0.1;
        }
        sendData();
      };
      
      function update() {
        render();
      }
      
      setInterval(update, 10);
              
              function control() {
                direction = joy.GetDir();
                if (direction == "C")
                    return;
                let position = camera.getAttribute("position");
                let pos_user = character.getAttribute("position");
                if (direction == "N") { //상
                    pos_user.z -= 0.1;

                    position.z -= 0.1;
                    console.log('상');
                } else if (direction == "NE") { //우상
                    pos_user.z -= 0.05;
                    pos_user.x += 0.05;

                    position.z -= 0.05;
                    position.x += 0.05;
                    console.log('우상');
                } else if (direction == "NW") { //좌상
                    pos_user.z -= 0.05;
                    pos_user.x -= 0.05;

                    position.z -= 0.05;
                    position.x -= 0.05;
                    console.log('좌상');
                } else if (direction == "S") { //후
                    pos_user.z += 0.1;

                    position.z += 0.1;
                    console.log('후');
                } else if (direction == "SE") { //우후
                    pos_user.x += 0.05;
                    pos_user.z += 0.05;

                    position.x += 0.05;
                    position.z += 0.05;
                    console.log('우후');
                } else if (direction == "SW") { //좌후
                    pos_user.x -= 0.05;
                    pos_user.z += 0.05;

                    position.x -= 0.05;
                    position.z += 0.05;
                    console.log('좌후');
                } else if (direction == "W") { //좌
                    console.log('좌');
                    pos_user.x -= 0.1;

                    position.x -= 0.1;
                } else if (direction == "E") { //우
                    console.log('우');
                    pos_user.x += 0.1;

                    position.x += 0.1;
                }
              }
              setInterval(control, 50);
              
            </script>
</html>